.loginform {
  display: grid;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 10px 0 #ddd;
  width: fit-content;
  margin-top: 1rem;
}

.inputwrap {
  display: grid;
  align-items: center;
  gap: .4rem;
}

.loginform label {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 4px;
}

.loginform input {
  padding: .7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.loginform button {
  padding: .7rem 1rem;
  width: fit-content;
  background-color: rgb(53, 51, 56);
  color: white;
  border-radius: 5px;
}

.loginform button:hover {
  background-color: rgb(78, 63, 100);
}